<div class="table-header">
  <div class="search-container">
    <div class="search-input">
      <i class="fas fa-search search-icon"></i>
      <input type="text" placeholder="Buscar por título" [(ngModel)]="filterText" (input)="applyFilter($event)">
    </div>
  </div>

  <button mat-raised-button class="create-button" (click)="createNewArticle()">
    Crear Artículo
  </button>
</div>

<mat-table [dataSource]="filteredArticles" class="mat-table">
  <ng-container matColumnDef="cover">
    <mat-header-cell *matHeaderCellDef> Portada </mat-header-cell>
    <mat-cell *matCellDef="let article">
      <img [src]="article.coverPath | apiImg" alt="Cover" class="article-cover-img" />
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef> Título </mat-header-cell>
    <mat-cell *matCellDef="let article"> {{ article.title }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="creatorName">
    <mat-header-cell *matHeaderCellDef> Creator </mat-header-cell>
    <mat-cell *matCellDef="let article"> {{ article.creatorName }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="categoryName">
    <mat-header-cell *matHeaderCellDef> Categoría </mat-header-cell>
    <mat-cell *matCellDef="let article"> {{ article.categoryName }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
    <mat-cell *matCellDef="let article">
      <div class="action-buttons">
        <button mat-stroked-button class="edit-button" (click)="editArticle(article.id)">
          Editar
        </button>
        <button mat-stroked-button class="delete-button" (click)="deleteArticle(article.id)">
          Eliminar
        </button>
      </div>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<mat-paginator
  [length]="totalElements"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSizeOptions]="[5, 10, 20]"
  (page)="onPageChange($event)">
</mat-paginator>