/* Estructura general */
body, html{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 60px;
    box-sizing: border-box;
}

/* Footer */
footer {
    background-color: #f7f4ed;
    color: #333;
    padding: 40px 0;
    border-top: 1px solid #e0e0e0;
    text-align: center;
}
footer a {
    color: #16a085;
    text-decoration: none;
    margin: 0 10px;
}
footer a:hover {
    color: #1abc9c;
}