<div class="article-form-container">
    <h1>@if(articleId) { Editar } @else { Nuevo } articulo</h1>
  
    @if(errors.length) {
    <div class="alert alert-danger mt-5">
      <ul>
        @for (error of errors; track error ) {
        <li>{{ error }}</li>
        }
      </ul>
    </div>
    } @if(form) {
    <div class="row">
      <div class="col-md-8">
        <form
          [formGroup]="form"
          (ngSubmit)="save()"
          class="mt-5"
          autocomplete="off"
        >
          <mat-form-field class="form-field w-100" appearance="outline">
            <mat-label>Título</mat-label>
            <input
              matInput
              type="text"
              placeholder="Título"
              formControlName="title"
              (keyup)="createSlug()"
            />
            <mat-error>
              @if(form.get('title')!.hasError('required')) { Este título es
              obligatorio } @else if (form.get('title')?.hasError('minlength')) {
              El título debe tener al menos 3 caracteres } @else if
              (form.get('title')?.hasError('maxlength')) { El título debe tener
              250 caracteres como máximo }
            </mat-error>
          </mat-form-field>
  
          <mat-form-field class="form-field w-100" appearance="outline">
            <mat-label>Slug</mat-label>
            <input
              matInput
              type="text"
              placeholder="Slug"
              formControlName="slug"
            />
            <mat-error>
              @if(form.get('slug')!.hasError('required')) { Este slug es
              obligatorio } @else if (form.get('slug')!.hasError('pattern')) { El
              slug es inválido }
            </mat-error>
          </mat-form-field>
  
          <mat-form-field class="form-field w-100" appearance="outline">
            <mat-label>Contenido</mat-label>
            <textarea
              matInput
              placeholder="Contenido"
              formControlName="content"
            ></textarea>
            <mat-error>
              @if(form.get('content')!.hasError('required')) { El contenido
              es obligatorio }
            </mat-error>
          </mat-form-field>
    
          <mat-form-field class="form-field w-100" appearance="outline">
            <mat-label>Categoría</mat-label>
            <mat-select formControlName="categoryId">
              @for (category of categories; track category.id) {
              <mat-option [value]="category.id">{{ category.name }}</mat-option>
              }
            </mat-select>
  
            <mat-error>
              @if(form.get('categoryId')!.hasError('required')) { La categoría es
              obligatoria }
            </mat-error>
          </mat-form-field>
  
          <div class="file-upload w-100">
            <label>Portada</label>
            <input
              type="file"
              class="form-control"
              accept=".png,.jpg,.jpeg"
              (change)="uploadFile($event, 'coverPath')"
            />
            <div class="small text-muted">
              Ruta actual: {{ form.get("coverPath")!.value }}
            </div>
          </div>
  
          <div class="file-upload w-100">
            <label>Archivo PDF</label>
            <input
              type="file"
              class="form-control"
              accept="application/pdf"
              (change)="uploadFile($event, 'filePath')"
            />
            <div class="small text-muted">
              Ruta actual: {{ form.get("filePath")!.value }}
            </div>
          </div>
  
          <div class="action-buttons text-end">
            <button mat-button type="button" routerLink="/creator/articles/list">
              Cancelar
            </button>
            <button mat-raised-button color="primary" class="ms-2">
              @if(articleId) { Actualizar } @else { Crear } articulo
            </button>
          </div>
        </form>
      </div>
  
      <div class="col-md-4 text-center preview">
        @if(form.get('coverPath')?.value) {
        <h3>Portada</h3>
        <img
          [src]="form.get('coverPath')?.value | apiImg"
          alt="Portada"
          class="img-thumbnail"
        />
        } @else {
        <p>Sin portada</p>
        }
      </div>
    </div>
    }
  </div>